# Activation du moteur de réécriture d'URL
RewriteEngine On

# Empêcher le listage des répertoires (sécurité)
Options -Indexes

# Optionnel : Rediriger l'autorisation HTTP (utile pour certains serveurs)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Si vous souhaitez plus tard cacher les extensions .php dans l'URL, 
# c'est ici qu'on ajoutera les règles.