services:
  mariadb:
    image: mariadb:11
    container_name: mariadb_boucherie
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: boucherie
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_boucherie
    restart: always
    depends_on:
      - mariadb
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"

  # AJOUTEZ CE BLOC CI-DESSOUS
  web:
    build: .
    container_name: php_web_boucherie
    restart: unless-stopped
    depends_on:
      - mariadb
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html

volumes:
  mariadb_data: